body {
	display: flex;
}

.grid {
	margin: 5vw;
	width: 500px;
	height: 500px;
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
}

.square {
	height: 125px;
	width: 125px;
	border: solid black 1px;
}

.mole {
	background-image: url("walrus.jpg");
	background-size: cover;
}
